---
import Social from '../components/Social.astro';
---

<footer>
    <p>Learn more about my projects on 
    <Social platform="github" username="samforderer" />
    <Social platform="linkedin" username="in/sam-forderer-652125148" />
    <p/>
    <p class="end">samforderer.io © 2023</p>
</footer>

<style>
    footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    } 
</style>