---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
import { Image } from 'astro:assets';
import logo from '../assets/Asset 1.png';

---

<header>
    <h3>samforderer.io</h3>
    <Image src={logo} alt="logo" class="logo"/>
    <nav><Navigation /></nav>
    <Hamburger />
</header>

<style>
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding: 0px 25px 0px 25px;
        box-sizing: border-box;
        height: 75px;
    }

    .logo {
        width: 70px;
    }
</style>