---
const { platform, username } = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
  a {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #0047FF;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.2s;
    }
    a:hover {
        background-color: #002fff;
    }
</style>